$font-family: "Raleway", sans-serif;

$font-size-lg: 2.3em;
$font-size-md: 2em;

$font-bold: 500;

$white: white;
$black: black;

$primary: #f06449;
$secondary: #ede6e3;
$success: green;
$danger: #ff4000;

// Grid
$grid-gutter: 1%;
$grid-columns: 12;
